@{
    ViewData["Title"] = "Home Page";
}


    <div class="row py-lg-5">
        
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Run Groups</h1>
            <p class="lead text-muted">Wow son, what you find this?</p>
            <p>
                <a href="/Club" class="btn btn-primary my-2">Clubs</a>
                <a href="/Race" class="btn btn-secondary my-2">Races</a>
            </p>
        </div>
    </div>